--prefer-binary

# Core frameworks
Flask==2.3.3
fastapi
uvicorn
gunicorn==21.2.0

# Data & DB
tinydb
requests==2.31.0
python-dotenv==1.0.1

# Scheduling & Time
APScheduler==3.10.4

# Image processing
Pillow==9.5.0
