/* styles.css */
.stApp {
background: #73ecff;
background: linear-gradient(90deg, rgba(115, 236, 255, 1) 10%, rgba(71, 188, 255, 1) 46%, rgba(71, 188, 255, 1) 68%, rgba(71, 194, 255, 1) 98%);
  font-family: 'Segoe UI', sans-serif;
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100vh;
  animation: fadeOut 1s ease-in-out forwards;
  animation-delay: 3s; /* Start fade out after 3s */

}
h1{
  text-align: center;
}

h1, h2, h3 {
  color: #ffffff;
}
.title-container {
  text-align: center;
}

.line1 {
  font-size: 5.5em;
  font-weight: bold;
  color: #063d7c;
  margin-bottom: 0.2em;
  animation: slideIn 1.2s ease-in-out;
}

.line2 {
  font-size: 4.5em;
  color: #063d7c;
  animation: fadeIn 2s ease-in;
}


/* Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}*/
.stButton button span {
  color: white !important;
  font-weight: bold !important;
}
.stApp,.stTextArea,.stMarkdown{
  color: black !important;
} 

/* 
[data-testid="stMarkdownContainer"] {
  color: black !important;
}  */

/* Target ONLY st.button() elements text color */
.stButton {
    color: white !important;
}
